/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html, body{
    padding-top: 0;
    padding-bottom: 0;
    /*min-height: 100vh;*/
    width: 100%;
    height: 100%;
    overflow-x: clip;
}
.blemishText{
    position: absolute;
    top: 36%;
    left: 48%;
    color: #fff;
}
.lineHeght-div{
    position: relative;
    height: 240px;
    margin-bottom: -69px;
    padding-bottom: 84px;
    background-color: #e9edf2;
    z-index: 1;
}
.lineHeght{
    position: absolute;
    left: 50%;
    width: 2px;
    top: -100px;
    height: 70px;
    background-color: #a32135;
    /*transition: .5s;*/
    /*transform-origin: center top 0;
    will-change: transform;*/
}
.prepare, .target, .enhance, .revive{
    position: relative;
    background-color: #e9edf2;
    z-index: 1;
}
.prepare h2, .target h2, .enhance h2, .revive h2{
    position: relative;
    text-align: center;
}
.prepare h2 span, .target h2 span, .enhance h2 span, .revive h2 span{
    position: relative;
    font-family: 'ABChanelCorpoRegular';
    padding: 0 2rem;
    color: #a32135;
}
.prepare h2 span::before, .target h2 span::before, .enhance h2 span::before,.revive h2 span::before{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 16px;
    right: 0;
    width: calc((100vw - 100%)/ 2);
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #a32135;
}
.prepare h2 span::after, .target h2 span::after, .enhance h2 span::after, .revive h2 span::after{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 16px;
    left: 0;
    width: calc((100vw - 100%)/ 2);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: #a32135;
}
.prepare img{
    width: 100%;
}
.small-btn{
    background-color: #a32135;
    margin-top: 1rem;
}
.small-btn:hover{
    background-color: #a32135;
}
.small-btn:focus, .small-btn:active{
    background-color: #a32135!important;
    border-color: #a32135!important;
}
.small-btn span{
    color: #fff;
}
.prduct_count{
    text-align: center;
    /*position: absolute;
    text-align: center;
    left: 0;
    top: 28vh;
    bottom: 1.25vw;
    max-width: none;
    transform: none;
    padding: 0 3vw 15px;
    margin-left: 75vw;
    width: min(25vw,400px);*/
}
.visibility_hidden{
    visibility: hidden;
}
.chatButton-div{
    display: none;
}
.prepare_div, .target_div{
    opacity: 0;
    -webkit-animation: fade 1s forwards;
            animation: fade 1s forwards;
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}
@-webkit-keyframes fade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;  
    }
}
@keyframes fade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;  
    }
}
@media(min-width: 1520px){
    .prduct_content h3, .target_div .prduct_content h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 1.9375rem;
        margin-bottom: 0;
        color: #a32135;
        line-height: 1;
    }
    .prduct_content p, .target_div .prduct_content p{
        margin-bottom: 0;
        font-size: 1.2rem;
        color: #a32135;
        font-weight: 500;
    }
}
@media(max-width: 1519px){
    .prduct_content h3, .target_div .prduct_content h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 1.5rem;
        margin-bottom: 0;
        color: #a32135;
        line-height: 1;
    }
    .prduct_content p, .target_div .prduct_content p{
        margin-bottom: 0;
        font-size: 1rem;
        color: #a32135;
        font-weight: 500;
    }
}

@media(max-width: 1672px){
    .blemishText2_revive p br{
        display: none;
    }
}

@media(min-width: 1281px){
    .prepare h2 span, .target h2 span, .enhance h2 span, .revive h2 span{
        font-size: 3.25rem;
    }
}
@media(max-width: 1280px){
    .prepare h2 span{
        font-size: 2rem;
    }
    .prepare h2 span::before, .prepare h2 span::after, .target h2 span::before, .target h2 span::after{
        bottom: 10px;
    }
}
@media(max-width: 1266px){
    .prduct_content p, .target_div .prduct_content p{
        margin-bottom: 0;
        font-size: .75rem;
        color: #a32135;
        font-weight: 500;
    }
    .prduct_content h3, .target_div .prduct_content h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 1.3rem;
        margin-bottom: 0;
        color: #a32135;
        line-height: 1;
    }
}
@media(max-width: 1156px){
    .prduct_content h3, .target_div .prduct_content h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 1rem;
        margin-bottom: 0;
        color: #a32135;
        line-height: 1;
    }
}
.prepare_div_sect, .target_div_sect, .enhance_div_sect, .revive_div_sect{
    position: relative;
    background-color: #e9edf2;
    z-index: 1;
}
.prepare_div, .target_div, .enhance_div, .revive_div{
    display: none;
}
.prepare_div.show, .target_div.show{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.blemishText2_svg_div button, .blemishText2_svg_div_close button, .blemishText2_svg_div_target button, .blemishText2_svg_div_target_close button, .blemishText2_svg_div_enhance button, .blemishText2_svg_div_enhance_close button, .blemishText2_svg_div_revive button, .blemishText2_svg_div_revive_close button{
    border: none;
    background: none;
}
@media(min-width: 992px){
    .navbutton:hover, .navbutton.active {
        -webkit-transform: scale(2);
            -ms-transform: scale(2);
                transform: scale(2);
        background-color: transparent;
        border-color: #a32135;
    }
    #header_intern{
        padding-top: 6.375rem;
    }
}
@media(min-width: 768px){
    html, body{
        scroll-padding-top: 7rem;
    }
    .under_revive .container{
        max-width: 800px;
    }
    .line_top {
        width: 331px;
        margin: 0 auto 9.9375rem;
        background: #a32135;
        height: 2px;
    }
    .line_top_div{
        position: relative;
        background-color: #e9edf2;
        z-index: 1;
        padding-top: 0.0625rem;
        padding-bottom: 0.0625rem;
    }
    .h3_div h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 2.5rem;
        text-align: center;
        color: #a32135;
    }
    .h3_div p{
        font-family: 'HelveticaLt';
        font-size: 1.25rem;
        text-align: center;
        color: #a32135;
    }
    .max_width{
        display: none!important;
    }
    .blemishText2_svg_div, .blemishText2_svg_div_target, .blemishText2_svg_div_enhance, .blemishText2_svg_div_revive{
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        /* flex-direction: column; */
        top: 73%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .blemishText2_svg_div.hide, .blemishText2_svg_div_target.hide, .blemishText2_svg_div_enhance.hide, .blemishText2_svg_div_revive.hide{
        display: none;
    }
    .blemishText2_svg_div_close, .blemishText2_svg_div_target_close, .blemishText2_svg_div_enhance_close, .blemishText2_svg_div_revive_close{
        display: none;
    }
    .blemishText2_svg_div_close.show, .blemishText2_svg_div_target_close.show, .blemishText2_svg_div_enhance_close.show, .blemishText2_svg_div_revive_close.show{
        display: block;
        position: sticky;
        /*top: 86%;*/
        bottom: 25vh;
        margin-left: auto;
        padding-top: 150px;
        z-index: 2;
        height: 0;
        width: 82px;
        -webkit-transform: translateY(-67px);
            -ms-transform: translateY(-67px);
                transform: translateY(-67px);
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }
    .blemishText2_svg, .blemishText2_svg_target, .blemishText2_svg_enhance, .blemishText2_svg_revive{
        display: block;
        position: relative;
        width: 100%;
        height: 62px;
    }
    .blemishText2_svg circle, .blemishText2_svg_target circle, .blemishText2_svg_enhance circle, .blemishText2_svg_revive circle{
        stroke: #a32135;
    }
    .blemishText2_svg rect, .blemishText2_svg_target rect, .blemishText2_svg_enhance rect, .blemishText2_svg_revive rect{
        fill: #a32135;
    }
    .blemishText2_open_link{
        position: relative;
        padding-top: 0.7rem;
        font-family: 'ABChanelCorpoRegular';
        font-size: 0.6875rem;
        color: #a32135;
    }
    .blemishText2_open_link::after{
        content: ' ';
        position: absolute;
        bottom: 0;
        height: 1px;
        background-color: #a32135;
        left: 0;
        width: 100%;
        -webkit-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
    }
    .blemishText2_open_link:hover::after{
        background-color: transparent;
    }
    .prepare_div, .target_div, .enhance_div, .revive_div{
        border-bottom: 21px solid #000;
    }
    .enhance_div:nth-child(3){
        margin-top: 9rem;
        border-bottom: none;
    }
    .revive_div:nth-child(4){
        margin-top: 9rem;
        border-bottom: none;
    }
    .prepare_picture{
        position: relative;
    }
    .blemishText2.show, .blemishText2_target.show, .blemishText2_enhance.show, .blemishText2_revive.show{
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .blemishText2, .blemishText2_target, .blemishText2_enhance, .blemishText2_revive{
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .blemishText2 p, .blemishText2_target p, .blemishText2_enhance p, .blemishText2_revive p{
        padding: 0 6vw;
        font-family: 'HelveticaLt';
        color: #a32135;
        text-align: center;
        margin-bottom: 0;
    }
    .prduct_content, .target_div .prduct_content{
        padding-left: 10rem;
    }
    .prduct_count{
        -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .prepare_div .prduct_count, .target_div .prduct_count{
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
    .prduct_count h6{
        font-family: 'ABChanelCorpoRegular';
        font-size: 0.75rem;
        color: #a32135;
    }
    .prduct_count span{
        font-family: 'ABChanelCorpoRegular';
        font-size: 4vw;
        letter-spacing: -5px;
        color: #a32135;
    }
    .prduct_count p{
        font-family: 'ABChanelCorpoRegular';
        font-size: 0.625rem;
    }
}
@media(min-width: 1024px){
    .line_top {
        width: 431px;
        margin: 0 auto 9.9375rem;
        background: #a32135;
        height: 2px;
    }
}
@media(min-width: 1362px){
    .line_top {
        width: 576px;
        margin: 0 auto 9.9375rem;
        background: #a32135;
        height: 2px;
    }
}
@media(min-width: 1600px){
    .line_top {
        width: 674px;
        margin: 0 auto 9.9375rem;
        background: #a32135;
        height: 2px;
    }
}
@media(min-width: 1400px){
    .enhance_div .container, .revive_div .container{
        max-width: 1200px!important;
    }
}
@media(min-width: 1200px){
    .enhance_div .container, .revive_div .container{
        max-width: 1000px;
    }
    .under_revive .container{
        max-width: 800px;
    }
}
@media(max-width: 1213px){
    .prduct_count p {
        font-family: 'ABChanelCorpoRegular';
        font-size: 0.46875rem;
    }
}
@media(max-width: 1006px){
    .prduct_count p {
        font-family: 'ABChanelCorpoRegular';
        font-size: 0.28rem;
    }
}
@media(max-width: 991px){
    .navbutton.active {
        -webkit-transform: scale(2);
            -ms-transform: scale(2);
                transform: scale(2);
        background-color: transparent;
        border-color: #a32135;
    }
    #header_intern{
        padding-top: 4.8rem;
    }
    .prepare_div .row, .target_div .row{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
    }
    .prepare_div1 .row, .target_div1 .row{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }
    .prduct_content, .target_div .prduct_content{
        padding-left: 2rem;
    }
        .prduct_content h3, .target_div .prduct_content h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: .9rem;
        margin-bottom: 0;
        color: #a32135;
        line-height: 1;
    }
}
@media(max-width: 767px){
    html, body{
        scroll-padding-top: 5rem;
    }
    #header_intern{
        padding-top: 4.2rem;
    }
    .under_revive .container{
        padding-top: 9rem;
    }
    .under_revive .container .prepare_div1_row .prepare_picture1 .h3_div p br{
        display: none;
    }
    .under_revive .container .prepare_div1_row .prepare_picture1 .h3_div h3{
        font-size: 4vw;
    }
    .under_revive .container .prepare_div1_row .prepare_picture1 .h3_div p{
        font-size: 3vw;
    }
    .h3_div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .h3_div p br{
        display: none;
    }
    .h3_div h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 6.666vw;
        text-align: center;
        color: #a32135;
    }
    .h3_div p{
        max-width: 90%;
        font-family: 'HelveticaLt';
        font-size: 4vw;
        text-align: center;
        color: #a32135;
    }
    .enhance_div .container, .revive_div .container{
        margin-top: 8rem;
    }
    .min_width{
        display: none!important;
    }
    .prepare_div, .target_div{
        border-bottom: none;
    }
    .blemishText2, .blemishText2_target{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 4rem;
        color: #fff;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        background-color: #eaecf1;
    }
    .blemishText2_enhance, .blemishText2_revive{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        color: #fff;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        background-color: #eaecf1;
    }
    .blemishText2_svg_div, .blemishText2_svg_div_target, .blemishText2_svg_div_enhance, .blemishText2_svg_div_revive{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .blemishText2_svg_div.hide, .blemishText2_svg_div_target.hide, .blemishText2_svg_div_enhance.hide, .blemishText2_svg_div_revive.hide{
        /*visibility: hidden;*/
        display: none;
    }
    .blemishText2_svg_div button{
        border: none;
        background: none;
    }
    .blemishText2_svg_div_close, .blemishText2_svg_div_target_close, .blemishText2_svg_div_enhance_close, .blemishText2_svg_div_revive_close{
        display: none;
    }
    .blemishText2_svg_div_close.show, .blemishText2_svg_div_target_close.show, .blemishText2_svg_div_enhance_close.show, .blemishText2_svg_div_revive_close.show{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 2;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }
    .blemishText2_svg_div button, .blemishText2_svg_div_close button, .blemishText2_svg_div_target_close button{
        border: none;
        background: none;
    }
    .blemishText2_svg, .blemishText2_svg_target, .blemishText2_svg_enhance, .blemishText2_svg_revive{
        display: block;
        position: relative;
        width: 100%;
        height: 62px;
    }
    .blemishText2_svg circle, .blemishText2_svg_target circle, .blemishText2_svg_enhance circle, .blemishText2_svg_revive circle{
        stroke: #a32135;
    }
    .blemishText2_svg rect, .blemishText2_svg_target rect, .blemishText2_svg_enhance rect, .blemishText2_svg_revive rect{
        fill: #a32135;
    }
    .blemishText2_open_link {
        position: relative;
        padding-top: 1rem;
        font-family: 'ABChanelCorpoRegular';
        font-size: 3.05vw;
        color: #a32135;
    }
    .blemishText2_open_link::after{
        content: ' ';
        position: absolute;
        bottom: 0;
        height: 1px;
        background-color: #a32135;
        left: 0;
        width: 100%;
        -webkit-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
    }
    .blemishText2_open_link:hover::after{
        background-color: transparent;
    }
    .prepare_picture1{
        /*padding-top: 3.3125rem;*/
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
    }
    .target_picture1{
        margin-top: 4rem;
    }
    .prduct_content, .target_div .prduct_content{
        margin-top: 3rem;
        padding-left: 0;
        padding-right: 0;
    }
    .prduct_content p, .target_div .prduct_content p{
        margin-bottom: 5.067vw;
        font-size: 4vw;
        /*color: #a32135;
        font-weight: 500;*/
    }
    .blemishText2 p, .blemishText2_target p, .blemishText2_enhance p, .blemishText2_revive p{
        font-family: 'HelveticaLt';
        font-size: 4vw;
        max-width: 880px;
        color: #a32135;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        text-align: center;
    }
    .prduct_content h3, .target_div .prduct_content h3{
        font-size: 3.887vw;
        margin: 0 auto 5.672vw;
        max-width: 75%;
        line-height: 1;
    }
    .prduct_count{
        margin-top: 3rem;
    }
    .small-btn{
        margin-top: 0;
    }
    .prduct_count h6{
        font-family: 'ABChanelCorpoRegular';
        font-size: 4.266vw;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: .2667vw;
        margin-bottom: -1.333vw;
        color: #a32135;
    }
    .prduct_count span{
        font-size: 13.333vw;
        font-weight: 600;
        line-height: 1.12;
        color: #a32135;
        margin-bottom: 14.4vw;
    }
    .prduct_count p br{
        display: none;
    }
    .prduct_count p{
        font-size: 60%;
        font-weight: 300;
        line-height: 1.6667;
        max-width: 90%;
        color: #000;
        margin: 0 auto;
    }
    .target, .enhance, .revive{
        padding-top: 10rem;
    }
    .blemishText2.show, .blemishText2_target.show, .blemishText2_enhance.show, .blemishText2_revive.show{
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 0;
        left: 0;
        -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    .visibility_hidden{
        display: none;
    }
}
@media(min-width: 576px){
    .navbutton-ul{
        position: fixed;
        margin: 0;
        padding: 0;
        top: 50%;
        left: 0;
        margin-left: 3rem;
        list-style: none;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 11;
    }
    .blemishText h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 3.9vw;
    }
    .blemishText h4{
        font-family: 'ABChanelCorpoRegular';
        font-size: 1.5vw;
        text-align: center;
    }
    .blemishText1{
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 36%;
        left: 28%;
        color: #fff;
        text-align: center;
    }
    .blemishText1 h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 2.9vw;
        max-width: 70%;
    }
    .blemishText1 p{
        font-family: 'HelveticaLt';
        font-size: 1.2vw;
        max-width: 70%;
    }
}
@media(max-width: 575px){
    .enhance_div .container, .revive_div .container, .under_revive .container{
        max-width: 92%;
    }
    .navbutton-ul{
        position: fixed;
        margin: 0;
        padding: 0;
        top: 50%;
        left: 0;
        margin-left: 1rem;
        list-style: none;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 11;
    }
    .product-content, .product-details, .navbutton-container{
        display: block;
    }
    .blemishText h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 10vw;
    }
    .blemishText h4{
        font-family: 'ABChanelCorpoRegular';
        font-size: 3.5vw;
        text-align: center;
    }
    .holistic_picture{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .holistic{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
        z-index: 1;
    }
    .blemishText1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 4rem;
        color: #fff;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        background-color: #eaecf1;
    }
    .blemishText1 h3{
        font-family: 'ABChanelCorpoRegular';
        font-size: 6.666vw;
        color: #a32135;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .blemishText1 p{
        font-family: 'HelveticaLt';
        font-size: 4vw;
        max-width: 880px;
        color: #a32135;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}
.under_revive{
    position: relative;
    background-color: #e9edf2;
    z-index: 1;
}
.invisible{
    visibility: hidden;
}
.navbutton {
    width: 7px;
    height: 7px;
    background-color: #a32135;
    border: 1px solid #a32135;
    border-radius: 100%;
    margin-top: 1rem;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    z-index: 1;
}
