/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.slide{
    position: absolute;
    height: 3px;
    top: 47px;
    background: var(--second-color);
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
#menu-main li:nth-child(1).active ~ .slide{
    left: calc(50% - 282px)!important;
    width: 50px!important;
    opacity: 1;
}
#menu-main li:nth-child(2).active ~ .slide{
    left: 445px;
    opacity: 1;
}
#menu-main li:nth-child(3).active ~ .slide{
    left: calc(50% - 109px)!important;
    width: 73px!important;
    opacity: 1;
}
#menu-main li:nth-child(4).active ~ .slide {
    left: calc(50% - 0px);
    width: 60px;
    opacity: 1;
}
#menu-main li:nth-child(4).active1 ~ .slide{
    left: calc(50% - 8px);
    width: 60px;
    opacity: 1;
}
#menu-main li:nth-child(5).active ~ .slide{
    left: 575px;
    opacity: 1;
}
#menu-main li:nth-child(6).active ~ .slide{
    left: calc(50% + 197px);
    width: 66px;
    opacity: 1;
}
/* end of undeline with css, js */



.form-switch .form-check-input1.checked{
    background-position: 9px;
    background-color: #fff;
    background-image: url("../img/circle-checked.svg");
}


.chat-backgr .form-check-opt .form-check-input2 {
    width: .6em;
    height: .6em;
    margin-top: 0.4em;
    border: 1px solid #000;
    border-radius: 0;
    background-color: #fff;
    cursor: pointer;
}
.form-check-opt{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
}
.chat-backgr .form-check-opt .form-check-input2.checked {
    width: .6em;
    height: .6em;
    margin-top: 0.4em;
    border: 1px solid #000;
    border-radius: 0;
    background-color: #000;
    cursor: pointer;
}
.form-check-opt .form-check-label{
    margin-left: .75em;
}

@media(min-width: 992px){
    .bronz-products a:hover .line-bottom, .lipstick-products a:hover .line-bottom{
        height: 4px;
        width: 100%;
        -webkit-transform: translateY(5px);
            -ms-transform: translateY(5px);
                transform: translateY(5px);
        background-color: var(--second-color);
        opacity: 0;
    }
}
@media(max-width: 991px){
    .bronz-products a:hover .line-bottom, .lipstick-products a:hover .line-bottom{
        height: 4px;
        width: 100%;
        -webkit-transform: translateY(5px);
            -ms-transform: translateY(5px);
                transform: translateY(5px);
        background-color: var(--second-color);
        opacity: 1;
    }
}

.shade-img-medium-block, .shade-img-block.hide, .shade-img-deep-block, .shade-img-merry-rose-block, .shade-img-intense-brown-block, .shade-img-light-brown-block, .shade-img-shocking-pink-block, .shade-img-daring-red-block, .shade-img-passionate-red-block, .shade-img-bright-raspberry-block, .shade-img-timeless-beige-block, .shade-img-light-rose-block, .shade-img-burning-red-block, .shade-img-soft-coral-block, .shade-img-ever-red-block, .shade-img-intense-caramel-block, .shade-img-soft-rose-block, .shade-img-intense-blueberry-block{
    display: none;
}
.shade-img-medium-block.show, .shade-img-deep-block.show, .shade-img-merry-rose-block.show, .shade-img-intense-brown-block.show, .shade-img-light-brown-block.show, .shade-img-shocking-pink-block.show, .shade-img-daring-red-block.show, .shade-img-passionate-red-block.show, .shade-img-bright-raspberry-block.show, .shade-img-timeless-beige-block.show, .shade-img-light-rose-block.show, .shade-img-burning-red-block.show, .shade-img-soft-coral-block.show, .shade-img-ever-red-block.show, .shade-img-intense-caramel-block.show, .shade-img-soft-rose-block.show, .shade-img-intense-blueberry-block.show{
    display: block;
}